*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    width: 80%;
    height: 3px;
    border: none;
    background: #FFFF00;
}

.calculator{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #000;
    color: #fff;
}

.calculator_container1, .calculator_container2{
    width: 50%;
    height: auto;
}

.calculator_container1{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span{
    color: #FFFF00;
}

.calculator_container1_1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tagline{
    font-style: italic;
}

.calculator_container1_1 h1{
    font-size: 3rem;
}

.calculator_container1_1 p{
    text-align: justify;
}

.calculator_container1_2_img img{
    width: 50px;
    height: 50px;
    margin: 10px 20px 0px 0px;
}

.calculator_container1_1 a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    
}

.calculator_container1_1 a:hover{
    color: #fff;
    text-shadow: 0 0 20px #0ff, 0 0 40px #0ff;
}

.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.zero,.add,.sub,.mul,.div,.mod,.dec{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-weight: 900;
}

.submit{
    width: 240px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
    transition: all 0.3s ease;
    font-weight: 900;
}

.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover,.eight:hover,.nine:hover,.zero:hover,.add:hover,.sub:hover,.mul:hover,.div:hover,.mod:hover,.dec:hover,.submit:hover{
    background-color: black;
    color: white;
    border: 2px solid #FFFF00;
}

.result{
    width: 240px;
    min-height: 50px;
    border: 2px solid #FFFF00;
    border-radius: 10px;
    background-color: #252627;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.calculator_container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator_container_sub{
    box-shadow: 0 0 100px #ffff0042;
    border: 2px solid #FFFF00;
    border-radius: 20px;
    padding: 20px;
}

/* ---------------------------Responsive--------------------------- */
@media (max-width: 768px) {
    .calculator{
        flex-direction: column;
        gap: 50px;
    }

    .calculator_container1{
        gap: 20px;
    }

    .calculator_container1, .calculator_container2{
        width: auto;
        height: auto;
    }

    .calculator_container2{
        padding-bottom: 50px;
    }
}